<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h4>if</h4>
    {% comment %} 
    구문: if 변수 
      변수가 '존재'하며, 'not empty' 이어야 <<true>> 다
      ==, !=, <, >, <=, >=, in, not in, is, and, or, is not  연산자 사용 가능
    {% endcomment %}

    {% if team_kim %}
        <p> team_kim 홧팅 {{ team_kim|length }} </p>
    {% endif %}

    {% if team_park %}
        <p> team_park 홧팅 </p>
    {% endif %}

    {% if ages %}
        <p> ages 홧팅 </p>
    {% endif %}
    
    <hr>

    <h4>for</h4>

    <ul>
        {% for name in team_kim %}
            <li>{{ name }}</li>
        {% endfor %}
    </ul>

    <br>
    <ul>
        {% for e in points %}
            <li>{{ e.0 }}, {{ e.1 }}</li>
        {% endfor %}
    </ul>

    <ul>
        {% for x, y in points %}
            <li>{{ x }}, {{ y }}</li>
        {% endfor %}
    </ul>

    <br>

    <table>
        {% for key, value in info.items %}
            <tr>
                <td>{{ key }}</td><td>{{ value }}</td>
            </tr>
        {% endfor %}
    </table>

    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
</body>
</html>